# ==========================================
# 1. APPLICATION & ENVIRONMENT
# ==========================================
APP_NAME=stranger-chat
APP_ENV=development
APP_VERSION=1.0.0
LOG_LEVEL=debug

# ==========================================
# 2. HTTP SERVER & SECURITY (CORS)
# ==========================================
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false
CORS_ALLOWED_ORIGINS=http://localhost:3000

# ==========================================
# 3. DATABASE (PostgreSQL)
# ==========================================
PG_POOL_MAX=2
PG_URL=postgres://user:myAwEsOm3pa55%40w0rd@localhost:5432/db

# ==========================================
# 4. CACHE & SOCKET (Redis)
# ==========================================
REDIS_URL=localhost:6379
SOCKET_PORT=8081

# ==========================================
# 5. MESSAGE BROKER (RabbitMQ & NATS)
# ==========================================
RMQ_URL=amqp://guest:guest@localhost:5672/
RMQ_RPC_SERVER=rpc_server
RMQ_RPC_CLIENT=rpc_client

NATS_URL=nats://guest:guest@localhost:4222/
NATS_RPC_SERVER=rpc_server

# ==========================================
# 6. AUTHENTICATION & SECURITY (JWT)
# ==========================================
JWT_SECRET=324324236dfsdsfd73245234gdfsg7df45235fdsvsdlk3245234534ds87vsd9vn245l32523
JWT_ACCESS_TOKEN_EXPIRY=5m
JWT_REFRESH_TOKEN_EXPIRY=168h

# ==========================================
# 7. OBSERVABILITY (Metrics & Docs)
# ==========================================
METRICS_ENABLED=true
SWAGGER_ENABLED=true
# gRPC
GRPC_PORT=8081